.main {
  margin: 20px;
  text-align: center;
  background-color: #f1e3d4;
}
@media screen and (max-width: 1200px){
  .main{
  width: 960px;
  }
}

@media screen and (max-width: 414px){
  .main{
    width: 100%;
    padding: 0px 15px;
    margin: 0;
  }




}





