.App {
  text-align: center;
}

.todo-item {
  padding: 14px;
  width: 250px;
  margin: 0 auto;
  text-align: left;
  margin-top: 15px;
  background: linear-gradient(
          90deg,
          rgba(93, 12, 255, 1) 0%,
          rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.todo-item .text-item {
  display: inline-block;
  cursor: pointer;
}

input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 6px solid rgba(252, 177, 203, 0.99);
  outline: none;
  background: transparent;
}

.todo-btn {
  padding: 20px 12px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
          90deg,
          rgba(252, 177, 203, 0.99) 0%,
          rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

 .todo-item .delete-item {
  display: inline-block;
  cursor: pointer;
  float: right;
  font-size: 22px;
  position: relative;
  left: -4px;
  bottom: 5px;
}

.strike {
  text-decoration: line-through;
}